/*part a*/

.bg-dark{
    background-image: url("img/download.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.a{
    background-color: rgba(255,255,255,0.1);
}
.b{
    margin-top:10px;
}
.c{
    margin-bottom:10px;
}
.p{
    display:block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top:50px;*/
}
.background1{
    background-image: linear-gradient(#704214,#B8A88A);
}
.background2{
    background-image:linear-gradient(#B8A88A,#30638E);;
}
.line{
    height:200px;
    width:50px;
    background-color:red;
}
.old{
    mix-blend-mode:screen;
}
.popover {
    background: #704214;
}
.center {
    text-align: center;
}

/*part b*/

.part-b-img {
    height:120px;
    width:120px;
}

.sentence {
    display: none;
}

/*homepage*/

.bg {
    background: black;
}

.navbar-bg {
    background-color: #0039A6 !important;
}

.white-w {
    color: white !important;
}

.yellow-w {
    color :#FCCC0A;
}
