/*part a*/

.bg-dark{
    background-image: url("img/download.jpeg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.a{
    background-color: rgba(255,255,255,0.1);
}
.b{
    margin-top:10px;
}
.c{
    margin-bottom:10px;
}
.d{
    background-color:#306f8e;
}
.p{
    display:block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top:50px;*/
}
.background0{
    background-image:url(img/old-city.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:#704214;
    background-blend-mode: multiply;
    height:610px;
    margin-left:auto;
    margin-right:auto;
    background-attachment: fixed;
}
.background1{
    background-image: linear-gradient(#704214,#B8A88A);
}
.background2{
    background-image:linear-gradient(#B8A88A,#306f8e);;
}
.background3{
    background-image:url(img/city.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:#306f8e;
    background-blend-mode: multiply;
    height:610px;
    margin-left:auto;
    margin-right:auto;
    background-attachment: fixed;
}
.line{
    height:200px;
    width:50px;
    background-color:black;
}
.old{
    mix-blend-mode:luminosity;
}
.popover.bottom .arrow:after {
    border-bottom-color: #704214;
}
.center {
    text-align: center;
}

/*part b*/

.part-b-img {
    height:120px;
    width:120px;
}

.sentence {
    display: none;
}

/*homepage*/

.bg {
    background: black !important;
}

.navbar-bg {
    background-color: #0039A6 !important;
}

.white-w {
    color: white !important;
}

.yellow-w {
    color :#FCCC0A;
}

.orange-w {
    color: #FF6319;
}

.yellow-collap {
    background: #FCCC0A !important;
    border: #FCCC0A !important;
    font-family: 'Roboto Slab', serif !important;
}

.yellow-collap:focus {
    box-shadow: 0 0 0 0.25rem rgb(252 204 10 / 50%) !important;
}

.orange-collap {
    background: #FF6319 !important;
    font-family: 'Roboto Slab', serif !important;
}

.orange-collap:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 99 25 / 50%) !important;
}

.bottom-margin {
    margin-bottom: 60px;
}

.top-margin {
    margin-top: 50px;
}

footer {
    background: #0039A6;
    padding-top: 8px;
    position: relative;
    top: 93.5%;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.collap {
    font-weight: 900 !important;
    font-size: 25px !important;
}

.font {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Fauna One', serif;
}

.navbar-font {
    font-family: 'Roboto Slab', serif !important;
    font-weight: 800 !important;
    font-size: 20px !important;
}

.modal-btn {
    background: none !important;
    border: none !important;
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.space {
    color: #0039A6;
}

.david {
    background-color: #FF6319;
    border-radius: 10px;
    color: white;
}

.yala {
    background-color: #FCCC0A;
    border-radius: 10px;
    color: white;
}

.purple {
    background-color: #60269E;
}

.viga-font {
    font-family: 'Viga', sans-serif;
}

.line-height {
    line-height: 5px;
}

.modal-info {
    font-family: 'Questrial', sans-serif;
}

.modal-close {
    background-color: #4D5357;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.15rem black !important;
}

.margin {
    margin-bottom: 40px;
}

@media (max-width: 767px) {

    .sm-margin-p {
        margin-bottom: 0px;
    }


}